#timing {
  background-image: url(./flowers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 420px;
  text-align: center;
}

#titletiming {
  padding-top: 110px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.5em;
}
