#events {
  /* background-image: url(./ivy.jpeg); */
  background-size: cover;
  background-position: center;
  background-position-y: 150px;
  background-repeat: no-repeat;
  width: auto;
  height: 280px;
  text-align: center;
}

#titleevents {
  padding-top: 60px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.5em;
}

#ceremony, #reception {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em
}