#events {
  background-image: url(./events.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: 150px;
  background-repeat: no-repeat;
  /* width: auto;
  height: 960px; */
  text-align: center;
  padding-bottom: 60px;
}

#titleevents {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.5em;
}

#ceremony, #reception {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em;
  padding-top: 60px;
}

#map {
  /* width: 100px; */
}