#registry {
  background-image: url(./registry.png);
  background-size: cover;
  background-position: left;
  background-position-y: 0px;
  background-repeat: no-repeat;
  width: auto;
  height: 200px;
  text-align: center;
}

#titleregistry {
  padding-top: 90px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.5em;
}
