#splash {
  background-image: url(./splashpic.jpeg);
  background-size: cover;
  background-position: center;
  background-position-y: 25px;
  background-repeat: no-repeat;
  width: auto;
  height: 400px;
  text-align: center;
}

#textname {
  margin-top: 400px;
  font-family: 'League Script', cursive;
  font-weight: 900;
  font-size: 1.5em;
}