#splash {
  background-image: url(./splashpic.jpeg);
  background-size: cover;
  background-position: center;
  background-position-y: 180px;
  background-repeat: no-repeat;
  width: auto;
  height: 700px;
  text-align: center;
}

#titlesplash {
  padding-top: 20px;
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 2em;
}
