#story {
  background-image: url(./ivy.jpeg);
  background-size: cover;
  background-position: center;
  background-position-y: 150px;
  background-repeat: no-repeat;
  width: auto;
  height: 700px;
  text-align: center;
}

#titlestory {
  padding-top: 60px;
  padding-bottom: 120px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.5em;
}
