#gallery {
  background-image: linear-gradient(120deg, steelblue 0%, skyblue 40%, white 100%);
  text-align: center;
  padding-bottom: 140px;
}

#titlegallery {
  padding-top: 60px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.5em;
}

#carousel {
  position: relative;
  top: 60px;
  width: auto;
  height: auto;
}

.carousel .carousel-indicators {
  display: none;
}
