#gallery {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  width: auto;
  height: 1200px;
  text-align: center;
  padding: 40px;
}

#titlegallery {
  padding-top: 20px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.5em;
}

#carousel {
  position: relative;
  top: 60px;
  width: auto;
  height: auto;
}

.carousel .carousel-indicators {
  display: none;
}
