#footer {
  height: 80px;
  text-align: center;
  border-width: thick;
  border-color: black;
}

#titlefooter {
  padding-top: 20px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.5em;
}
