.mainapp {
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: linear-gradient(120deg, steelblue 0%, skyblue 40%, white 100%);
  background-size: cover;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  overflow: hidden;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media only screen and (min-width: 993px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    max-width: 100%;
  }
}